MAIL_PASS = ...
MAIL_USERNAME = mail@mail.com
POSTGRES_PASS= password
POSTGRES_URL = jdbc:postgresql:...
POSTGRES_USER = postgres

VERIFICATION_URL=http://...verify-email?token=
ADMIN_EMAIL=...
ADMIN_PASSWORD=...