MAIL_PASS = oywe criv gcak bceh
MAIL_USERNAME = ayanfedorcas2017@gmail.com
POSTGRES_PASS= password
POSTGRES_URL = jdbc:postgresql://localhost:5432/cas-bank?sslmode=disable
POSTGRES_USER = postgres
SSL_STORE_PASS = topsecret
JWT_SECRET = scret_here
JWT_EXPIRATION= 800000

VERIFICATION_URL=http://localhost:8085/api/auth/verify-email?token=
ADMIN_EMAIL=admin@vehiqon.com
ADMIN_PASSWORD=password