MAIL_PASS = ...
MAIL_USERNAME = mail@mail.com
POSTGRES_PASS= password
POSTGRES_URL = jdbc:postgresql:...
POSTGRES_USER = postgres

VERIFICATION_URL=http://...verify-email?token=
ADMIN_EMAIL=...
ADMIN_PASSWORD=...
RESET_PASSWORD_URL=...
ENCRYPTION_PASSWORD=...
ENCRYPTION_SALT=...
LOCK_ACCOUNT_MINUTE=...
MAX_LOGIN_FAILED_ATTEMPT=...